node_modules
.DS_Store
/dist
/src/secret/secret-remote-dev.ts
/public/**/*
/upload/**/*
/webm/**/*
!/public/README.md
!/upload/README.md
!/webm/README.md
/docker/mysql/data/*
/docker/redis/data/*
# /docker/**/*
